*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(42, 161, 42),rgb(41, 175, 70));
    /* border: 0.5px solid rgb(51, 139, 57); */
    justify-content: center;
    align-items: center;
}
canvas{
     border:0.1px solid yellow;
    background: rgb(30, 224, 72); 

} 