*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: antiquewhite;
    transition: all .5s ease-in;
    h1{
       margin: 10px auto;
       text-align: center;
    }
    img{
        margin: auto;
        width: 100%;
        padding: 10px;
        position: relative;
    }
    .arrow{
        width:30px;
        height: 30px;
        border: 5px solid rgb(243, 241, 241);
        transform: rotate(45deg);
        margin-left: 90%;
        border-bottom: none;
        border-left: none;
        position: absolute;
        top: 30%;
    }

}